* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-text-size-adjust: auto;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

#calculator{
  background-color: Salmon;
  padding: 30px;
}

#packages {
  background-color: blue;
  padding: 30px;
}

#mission {
  background-color: yellow;
  padding: 30px;
}
#mission h2{
  padding-bottom: 40px;
}

#speech-bubble {
  position: relative;
	background: #00aabb;
	border-radius: .4em;
  max-width: 85%;
  padding: 15px;

}

#speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-top: -21px;
}

footer {
  background-color:green;
}

.fb-ic {
  color: #3b5998;
}

.tw-ic {
  color: #1da1f2;
}

.gplus-ic{
  color: #dd4b39;
}

.ins-ic {
  color: #e1306c;
}

.pin-ic {
  color: #bd081c;
}
